*, *::before, *::after {
    box-sizing: border-box;
}

#container {
    margin: 0 100px;
}

.header {
    display: flex;
    justify-content: space-between;
}

.title {
    font-size: 50px;
    color: #9b56c3;
    font-family: "Times New Roman", Times, serif;
}

.form-input {
    margin-top: 30px;
    background: linear-gradient(#e4ecbb, #C4DD73);
    height: 60px;
    width: 420px;
    position: relative;
}

.form-input-search {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    padding: 10px;
    margin-left: 10px;
}

.form-btn {
    background: #9b56c3;
    color: white;
    font-size: 15px;
    border: none;
    height: 25px;
    margin-left: 90px;
}

.search-input {
    border: 2px solid #96AE9B;
    color: #ddab1C;
    height: 25px;
    background: white url(img/Search.png) no-repeat right;
    
}

input[type="search"]::-webkit-search-results-decoration {
    display: none;
}

.navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 0;
    background-image: linear-gradient(#efdfaf, #DFD240);
}

.nav-menu .menu-item  {
    display: inline-block;
    padding: 0 45px;
    list-style: none;
    border-right: 1px solid #9b56c3;
    font-size: 25px;
    font-family: "Times New Roman", Times, serif;
}

.nav-menu .menu-item:first-child {
    color: #B538C5;
    font-weight: bold;
}

.nav-menu .menu-item:last-child {
    border: none;
}

.nav-menu .menu-link {
    text-decoration: none;
    color: #9b56c3;
    font-size: 20px;
    transition: font-size 0.5s;
}

.nav-menu .menu-item:not(:first-child) .menu-link:hover {
    font-size: 25px;
    color: #B538C5;
    font-weight: bold;
}

.content-container {
    background-image: linear-gradient(#e0e8c9, #bfe649);
    margin-top: 20px;
    padding: 25px 0px;
}

.content-title {
    font-size: 50px;
    padding: 0 30px;
    color: #305D05;
    font-family: "Times New Roman", Times, serif;
}

.content-text {
    font-size: 31px;
    padding: 0 30px;
    color: #739029;
    font-family: "Times New Roman", Times, serif;
    text-align: justify;
}

.sidebars {
    display: flex;
    justify-content: space-between;
    padding: 25px 0;
    gap: 20px;    
}

.sidebars-content {
    flex-basis: 50%;
    border: 3px solid #E0EDCC;
    border-radius: 20px;
}

.sidebars-title {
    font-size: 30px;
    margin: 40px 50px;
    color: #B538C5;
    font-weight: bold;
}

.sidebars-link {
    color: #9172C5;
    font-size: 20px;
    text-decoration: none;
}

.sidebars-content .sidebars-menu .sidebars-list  {
    background-image: url(img/arrow.png);
    background-repeat: no-repeat;
    background-position: 10px center;
    padding: 5px 60px;
    list-style: none;
}

.sidebars-content .sidebars-menu .sidebars-list {
    background-image: url(img/check.png);
    background-repeat: no-repeat;
    background-position: 40px center;
    padding: 15px 140px;
    list-style: none;
}

.sidebars-link:hover {
    font-size: 22px;
    color: #9b56c3;
    font-weight: bold;
    transition: font-size 0.5s;
}

.footer-container {
    background: #DFD240;
    padding: 20px;
}


