*, *::before, *::after {
    box-sizing: border-box;
}

#container {
    margin: 0 100px;
}

.header {
    display: flex;
    justify-content: space-between;
}

.title {
    font-size: 50px;
    color: #9b56c3;
    font-family: "Times New Roman", Times, serif;
}

.form-input {
    margin-top: 30px;
    background: linear-gradient(#e4ecbb, #C4DD73);
    height: 60px;
    width: 420px;
    position: relative;
}

.form-input-search {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    padding: 10px;
    margin-left: 10px;
}

.form-btn {
    background: #9b56c3;
    color: white;
    font-size: 15px;
    border: none;
    height: 25px;
    margin-left: 90px;
}

.search-input {
    border: 2px solid #96AE9B;
    color: #ddab1C;
    height: 25px;
    background: white url(img/Search.png) no-repeat right;
    
}

input[type="search"]::-webkit-search-results-decoration {
    display: none;
}

.navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 0;
    background-image: linear-gradient(#efdfaf, #DFD240);
}

.nav-menu .menu-item  {
    display: inline-block;
    padding: 0 45px;
    list-style: none;
    border-right: 1px solid #9b56c3;
    font-size: 25px;
    font-family: "Times New Roman", Times, serif;
}

.nav-menu .menu-item:first-child {
    color: #B538C5;
    font-weight: bold;
}

.nav-menu .menu-item:last-child {
    border: none;
}

.nav-menu .menu-link {
    text-decoration: none;
    color: #9b56c3;
    font-size: 20px;
    transition: font-size 0.5s;
}

.nav-menu .menu-item:not(:first-child) .menu-link:hover {
    font-size: 25px;
    color: #B538C5;
    font-weight: bold;
}

